<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Coding Tutor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.44.0/css/ace.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='code-styles.css')}}">
</head>
<body data-conversation-id= "{% if history %}{{ conversation_id }}{% endif %}" data-program="{% if program %}{{ program }}{% endif %}">
    <div id="top"><button id="logout-button">Log out</button></div>
    <div id="code">
        <div id="editor"></div>
        <iframe frameborder="0" id="html-preview" srcdoc="" sandbox="allow-scripts allow-popups allow-popups-to-escape-sandbox"></iframe>
    </div>
    <div id="chat">
        <div id="messages-container">
            <!-- {% set md = Markdown() %} -->
            <!-- {% for prompt, reply in history: %} -->
            <div class="message user-message">{{ prompt }}</div>
            <div class="message ai-message">{{ md.render(reply) | safe}}</div>
            <!-- {% endfor %} -->
        </div>
        <button id="new-chat-button">Create New Chat</button>
        <form id="message-form">
            <textarea id="message-input" aria-label="Ask your question here..." placeholder="Type your prompt here..." rows="3"></textarea><br>
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.5/cash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.44.0/src-min-noconflict/ace.min.js"></script>
    <script>
"use strict";
let globals = {
    conversationId:
    $("body").attr("data-conversation-id").trim() ? $("body").attr("data-conversation-id").trim() : null
    ,
};
/* You've probably noticed something- there are two copies of the conversation id; one in JavaScript and one in HTML.
The HTML one is only for Jinja to manipulate at the load of the page. Afterward, JavaScript handles the rest. I didn't put Jinja directly in JavaScript because then my IDE throws an error; it's not native JavaScript syntax. And my IDE's Jinja mode is nowhere near as excellent as its HTML mode.
*/
let editor = ace.edit("editor");
editor.setTheme("ace/theme/dawn");
editor.session.setMode("ace/mode/html")
editor.resize();
editor.setOptions({
    fontSize: "16px",
    fontFamily: "Courier New, Courier, monospace",
    showPrintMargin: false,
    wrap: true,
});
let editorTimeoutId;
editor.session.on("change", function (delta) {
    clearTimeout(editorTimeoutId);
    editorTimeoutId = setTimeout(async function () {
        const newValue = editor.getValue()
        $("#html-preview").attr("srcdoc", "<base target='_blank'>" + newValue);
        // That way if the create a link then the <base> will redirect them to a new tab and not destroy the iframe.
        await fetch("/api/save-program", {
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                code:newValue,
            })
        });
    }, 500)
});
editor.setValue($("body").attr("data-program"));
$("body").attr("data-program", "")
function addMessageToChat(message, isFromHuman) {
    const newEl = $(`
<div class="message ${isFromHuman ? 'user-message' : 'ai-message'}"></div>
    `)
    if (isFromHuman) {
        // The human likely didn't want to turn it to html.
        newEl.text(message);
    } else {
        // However, the ai definitely put the html entities on purpose.
        newEl.html(message);
    }
    newEl.appendTo("#messages-container");
}
$("#message-input").on("keydown", (event) => {
    if (event.key === "Enter" && !event.shiftKey) {
        // We want to submit it if they press enter, but add a newline like the default behavior if it is shift+enter.
        event.preventDefault();
        $("#message-form").trigger("submit");
    }
})
$("#message-form").on("submit", async function (event) {
    event.preventDefault();
    const value = $("#message-input").val();
    const container = $("#messages-container")[0]
    addMessageToChat(value, true);
    $("#message-input").val("");
    // Scroll to the bottom automatically, to the end of the message.
    setTimeout(() => {
        container.scrollBy({
            top:container.scrollHeight,
            left: 0,
            behavior:"smooth",
        });
    }, 10)
    try {
        const rawResponse = await fetch($("#messages-container").children().length < 2 ? "/api/create-chat" : "/api/chat", {
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({message:value, code:editor.getValue(), id:globals.conversationId}),
        });
        if (!rawResponse.ok) {
            throw new Error(`HTTP Error! Status: ${rawResponse.status}.`);
        }
        const response = await rawResponse.json();
        if (!response.message) {
            throw new Error("Response empty.");
        }
        globals.conversationId = response.id
        addMessageToChat(response.message, false);
        // Scroll again so that the AI message from the top is visible, so they can start reading.
        container.scrollBy({
            top:container.offsetHeight, // Since we earlier scrolled so that the user message is at the bottom, scroll the height of the container so that the message is now at the top.
            left: 0,
            behavior:"smooth",
        });
    } catch (error) {
        console.error(error);
    }
 
});
$("#new-chat-button").on("click", function () {
    $("#messages-container").empty();
    $("body").removeAttr("data-conversation-id");
    globals.conversationId = null
})
    </script>
</body>
</html>
