<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2 style="margin-left: auto;margin-right: auto;width: fit-content;font-size: 3rem;">Your code has arrived!</h2>
    <p style="margin-left: auto;margin-right: auto;width: fit-content;font-size: 1.5rem;">Your code is: </p>
    <div id="code"
        style="margin-left: auto;margin-right: auto;width: fit-content;font-size: 3rem;font-weight: bold;background-color: rgb(179, 179, 179);padding: 10px;border-radius: 10px;border: 1px solid black;user-select: all;-moz-user-select: all;-webkit-user-select: all;-ms-user-select: all;">
        {{ code }}</div>
</body>

</html>
