<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        #result {
            width: 100%;
            height: 100%;
            font-family: 'Courier New', Courier, monospace;
        }
        .python-error {
            color: red;
        }
    </style>
</head>

<body>
    <div id="result"></div>
    <script src="https://cdn.jsdelivr.net/pyodide/v314.0.7/full/pyodide.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.5/cash.min.js"></script>
    <script>
(async () => {
    window.pyodide = await loadPyodide({
        stdout:(text) => {
            $("#result").append($("<div class='python-output'></div>").text(text))
        },
    });
    pyodide.setStderr({
        batched:onPythonError
    });
})();
function onPythonError(error) {
    $("#result").append($("<div class='python-error'></div>").text(error))
}
$("#input-textarea").on("keydown", function (event) {
    if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault();
        $("#input-form").trigger("submit")
    }
});
window.addEventListener("message", async function (event) {
    $("#result").empty();
    const pythonCode = event.data;
    pyodide.runPython(`
import builtins as ____builtins____
# Redefine the input() function
def input(text=''):
    import js
    return js.prompt(text)
____builtins____.input = input # Override even the builtins input!
# Override all globals that existed last time
for name in list(globals().keys()):
    if not name.startswith("_"):
        del globals()[name]
del name
`);
    try {
        pyodide.FS.writeFile("/main.py", pythonCode, {encoding:"utf8",})
        await pyodide.runPythonAsync(`
import runpy
runpy.run_path('/main.py', run_name='__main__')
`)
    } catch (error) {
        if (error.name === "PythonError") {
            onPythonError('Traceback: (most recent call last)\n File "main.py" ' + error.message.split(/\sFile \"\/main\.py\"\s/i).slice(1).join(   'File "main.py"'))
        } else {
            throw error;
        }
    }
});
    </script>
</body>

</html>